doctype html
html(lang="ja")
	head
		include ./temp_header
		title 運営会社 | サカナタッチ
	body
		#container.corporate
			include ./temp_menu
			section
				h1 サカナタッチ運営企業
				.corp_info#tuqulore
					h2 株式会社 ツクロア（tuqulore Co., Ltd.）
					address 〒160-0022 東京都新宿区新宿1-10-3 太田紙興新宿ビル6F

				.corp_info#sonicgarden
					h2 株式会社ソニックガーデン（SonicGarden Inc.）
					address 東京都渋谷区神南一丁目３番４号 神南ビル6F
			section
				h1 お問い合わせ
				p 以下よりメールでご連絡ください。
				p.contact
					a(href="mailto:contact@sakanatouch.com") メールソフトが起動します
			include ./temp_footer