<!doctype html>
<html ng-app="sakanatouch-ranking" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<!--<script src="../assets/js/webview.js"></script>-->
   <script src="../assets/js/ng-ranking.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/webview_user.css">

</head>
<body ng-controller="RankingCtrl as ctrs">
	<div id="ranking" ng-class="ctrs.ranking_view_classname">

		<main>
			<div class="ranking-result-wrapper">
				<header>
					<h1><img src="../assets/img/webview/news_tit.png" alt=""></h1>
					<a id="closebtn" href='unity:close'><img src="/assets/img/webview/btn_header_close.png" alt="close btn"><span>とじる</span></a>
				</header>

				<nav class="ranking_tab">
					<button class="catch" ng-click="ctrs.viewChange('catch_view')"><i class="fa fa-newspaper-o"></i><span>新着</span></button>
					<button class="kind" ng-click="ctrs.viewChange('kind_view')"><i class="fa fa-trophy"></i><span>順位</span></button>
					<button class="user" ng-click="ctrs.viewChange('user_view')"><i class="fa fa-user"></i><span>あなた</span></button>
					<button class="map" ng-click="ctrs.viewChange('map_view')"><i class="fa fa-map"></i><span>マップ</span></button>
				</nav>

				<div class="ranking_all_wrap">
					<div class="ranking_all_wrap_inner">
						<div class="ranking_list_view list_view related">
							<ul>
								<li>
									<article>
										<h1>[ NEW! ] 放流機能がつきました！</h1><time>2015/8/15</time>
										<div class="desc">
											<img src="img/news_release_fish.png" alt="">
											<img src="img/ss_release.jpg" class="left" alt="">
											近くにいる<strong>友達にサカナをプレゼント</strong>できる放流機能がつきました！<br>
											レアなサカナを交換しあってもっと多くのサカナを飼おう。
											<ol>
												<li>今一緒にいる友達にサカナタッチを立ち上げてもらって、待機してもらおう</li>
												<li>水槽のサカナをタッチしたらウインドウが立ち上がるので、「放流する」ボタンをタッチ</li>
												<li>
													放流ボタンを押したら一緒にいる友達に「放流したよ！」と伝えてあげる
												</li>
												<li>
													友達は「サカナをさがす」ボタンを押して、放流したサカナを見つけよう！<strong>グズグズしてると逃げられちゃう</strong>からスピードが求められるぞ！！
												</li>
											</ol>
										</div>
									</article>
								</li>

								<li>
									<article>
										<h1>[ NEW! ]あなたのニックネーム</h1><time>2015/8/15</time>
										<div class="desc">
											あなたのニックネームやプロフィールを入力できます、このページ上部の「あなた」のタブをタッチ。<br>捕獲数上位ユーザーはユーザーランキングにニックネームが表示されます！
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>週間ユーザーランキング</h1><time>2015/7/20</time>
										<div class="desc">
											サカナタッチ全ユーザーのランキングを毎週集計発表します！！<br>
											右上の「週間ランキング」をクリック！
										</div>
									</article>
								</li>

								<li>
									<article>
										<h1>おしらせ機能がつきました</h1><time>2015/7/20</time>
										<div class="desc">
											サカナタッチの新着情報がここで読めるよ！これからもどんどん新機能が追加されていくから期待していてね！！
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>レビュー募集！！！</h1><time>2015/7/20</time>
										<div class="desc">
											みんな楽しんでくれているかな？よかったらアプリのレビューを書いてね！！
											<p><a href="https://itunes.apple.com/jp/app/sakanatatchi-yuwoatsumete/id983560663?l=ja&mt=8"><i class="fa fa-external-link"></i>サカナタッチのレビューを書いてみる</a></p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>メンダコ、都市伝説</h1><time>2015/7/20</time>
										<div class="desc">
											<img src="img/mendako.png" class="left" alt="">
											<p>サカナタッチではまだ見たこともないような生物がいるんだよ！<br>探せるかな！？</p>
										</div>
									</article>
								</li>
							</ul>
						</div>
						<div class="ranking_list_view list_view">
							<div class="ranking_header">
								<img class="ranking_tit" src="../assets/img/ranking/tit_webview_ranking.png" alt="">
							</div>
							<div class="summery inner">
								<p>今週つかまえたユーザーランキング上位20位を発表！<br>めざせ！トップ20！</p>
								<p class="days">集計期間 {{ctrs.startDay}} 〜 {{ctrs.endDay}}</p>
							</div>
							<div class="your_lank" ><!--  ng-model="ctrs.yourRank_loadData" -->
								<div class="rank_box" ng-class="{'r1': ctrs.yourRank.userData.rank == 1, 'r2': ctrs.yourRank.userData.rank == 2, 'r3': ctrs.yourRank.userData.rank == 3, 'add-trophy': ctrs.yourRank.userData.rank <= 3}">
									<div class="count"><small>あなたの順位</small> {{ctrs.yourRank.userData.rank}}</div>
									<div class="capture-value"><i class="fa fa-trophy"></i>{{ctrs.yourRank.userData.value}}<span>匹</span></div>
								</div>
							</div>
							<ul>
								<li ng-repeat="result in ctrs.rankingCatchList | limitTo:20" ng-class="{'r1': result.rank == 1, 'r2': result.rank == 2, 'r3': result.rank == 3, 'add-trophy': result.rank <= 3}" class="rank_box">
									<div class="count">{{result.rank}}</div>
									<div ng-show="result.nickname" class="nick-name">
										{{result.nickname}}
									</div>
									<div ng-hide="result.nickname" class="nick-name">
										名無しの漁師
									</div>
									<div class="capture-value"><i class="fa fa-trophy"></i>{{result.value}}<span>匹</span></div>
								</li>
							</ul>
						</div>
						<div class="ranking_list_view list_view user_setting">
							
							<div class="summery inner">
								<div class="user_header">
									<p>捕獲数上位ユーザーはニックネームがランキングに表示されるよ。ぜひ登録してね！<br>（本名やメールアドレス、住所など、本人が特定される情報はなるべく避けてね）</p>
								</div>
								<dl class="user_info_input">
									<div user-nick-name></div>
									<div user-profile></div>
								</dl>
								<!-- <p class="user_info_header">
									情報
								</p> -->
								<table>
									<tr>
										<th>累計捕獲数</th>
										<td>
											<p>{{ctrs.yourRank.userData.total_count}}匹</p>
										</td>
									</tr>
									<tr>
										<th>捕獲した生物</th>
										<td>{{ctrs.yourRank.userData.total_type_count}}種類</td>
									</tr>
									<tr>
										<th>最高ランク</th>
										<td>
											<p>{{ctrs.yourRank.userData.max_rank}}位</p>
										</td>
									</tr>
									<tr>
										<th>所持金</th>
										<td>{{ctrs.yourRank.userData.amount}}G</td>
									</tr>
									<tr>
										<th>水槽数</th>
										<td>{{ctrs.yourRank.userData.tank_count}}台</td>
									</tr>
									<tr>
										<th>クリアミッション数</th>
										<td>{{ctrs.yourRank.userData.clear_mission_count}}ミッション</td>
									</tr>
								</table>
							</div>

						</div>
						<div class="ranking_list_view seisokuchi_map">
							<div class="map_wrapper">
								<img src="img/seisokuchi_map.png" alt="">
								<div class="content">
									<p>サカナタッチの世界では、そのエリアでしか出現しないサカナだって生息しているぞ。<br>日本全国のサカナタッチユーザーのみなさんが捕獲してくれたおかげで、今各地にこんな種類のサカナが生息していることがわかった！</p>
									<p>ぜひ、旅行や出張のときはサカナタッチでその場所しかいないサカナをつかまえてほしい！検討を祈る！</p>
								</div>
							</div>
							<div class="distance_wrapper">
								<img src="img/distance_map.png" alt="">
								<div class="content">
									<p>ホームからの距離が、離れれば離れるほど新しいサカナをつかまえられるサカナタッチの世界。<br>今わかっている距離による生息地情報が徐々に明らかになってきたぞ。</p>
									<p>意外だけど、オタリアのような大型って遠くにいると思いきや、近かったんだね。灯台下暗しって感じ。</p>
									<p>注意してほしいのは、これらのサカナたちにも「レア度」があって、必ずその距離にいたら出てくる、とは限らないから、出てこなくても頑張って探してね。</p>
								</div>
							</div>
						</div>	
					</div><!-- ranking_all_wrap_inner -->
				</div><!-- ranking_all_wrap -->

			</div>
		</main>

	</div>


	<script type="text/ng-template" id="user_nick_name_tmp">
		<div class="user_nick_name">
			<dt>ニックネーム（８字以内）<i class="fa fa-pencil"></i></dt>
			<dd>
				<div ng-show="!nickNameCtr.isEdit">
					<h2 ng-show="ctrs.yourRank.userData.nickname">{{ctrs.yourRank.userData.nickname}}</h2>
					<h2 ng-show="!ctrs.yourRank.userData.nickname">名無しの漁師</h2>
				</div>
				<input  ng-show="nickNameCtr.isEdit" ng-blur="ctrs.userDataChange()" ng-model="ctrs.yourRank.userData.nickname" name="user_name" type="text" maxlength="8">
			</dd>
		</div>
	</script>
	<script type="text/ng-template" id="user_profile_tmp">
		<div class="user_profile">
			<dt>プロフィール<i class="fa fa-pencil"></i></dt>
			<dd>
				<p ng-show="!profileCtr.isEdit" ng-bind="ctrs.yourRank.userData.profile">
				</p>
				<textarea  ng-show="profileCtr.isEdit"  name="user_info"  ng-blur="ctrs.userDataChange()" ng-model="ctrs.yourRank.userData.profile"></textarea>
			</dd>
		</div>
	</script>

</body>
</html>
