<!doctype html>
<html ng-app="sakanatouch-ranking" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="../assets/js/ng-ranking.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/webview.css">

</head>
<body ng-controller="RankingCtrl as ctrs">
	<div id="ranking" ng-class="ctrs.ranking_view_classname">

		<main>
			<div class="ranking-result-wrapper">
				<header>
					<h1><img src="../assets/img/webview/news_tit.png" alt=""></h1>
					<a id="closebtn" href='unity:close'><img src="/assets/img/webview/btn_header_close.png" alt="close btn"><span>とじる</span></a>
				</header>
				
				<nav class="ranking_tab">
					<button class="catch" ng-click="ctrs.viewChange('catch_view')"><i class="fa fa-newspaper-o"></i>新着</button>
					<button class="kind" ng-click="ctrs.viewChange('kind_view')"><i class="fa fa-trophy"></i>週間ランキング</button>
				</nav>

				<div class="ranking_all_wrap">
					<div class="ranking_all_wrap_inner">
						<div class="ranking_list_view list_view related">
							<ul>
								<li>
									<article>
										<h1><i class="fa fa-list-alt"></i>サカナタッチの週間ユーザーランキング</h1>
										<div class="desc">
											サカナタッチ全ユーザーのランキングを毎週集計発表します！！<br>
											右上の「週間ランキング」をクリック！	
										</div>
									</article>
								</li>

								<li>
									<article>
										<h1><i class="fa fa-list-alt"></i>おしらせ機能がつきました</h1>
										<div class="desc">
											サカナタッチの新着情報がここで読めるよ！これからもどんどん新機能が追加されていくから期待していてね！！
										</div>
									</article>
								</li>
							</ul>
						</div>
						<div class="ranking_list_view list_view">
							<div class="ranking_header">
								<img class="ranking_tit" src="../assets/img/ranking/tit_webview_ranking.png" alt="">
							</div>
							<div class="summery inner">
								<p>今週でいちばんの捕獲王は何匹つかまえた！？キミは全体の何位だろう？</p>
							</div>
							<div class="your_lank" ><!--  ng-model="ctrs.yourRank_loadData" -->
								<p class="your_tit">
									あなたの現在の順位
								</p>
								<div class="rank_box" ng-class="{'r1': ctrs.yourRank.userData.rank == 1, 'r2': ctrs.yourRank.userData.rank == 2, 'r3': ctrs.yourRank.userData.rank == 3, 'add-trophy': ctrs.yourRank.userData.rank <= 3}">
									<div class="count"><small>YourRank</small> {{ctrs.yourRank.userData.rank}}</div>
									<div class="capture-value"><i class="fa fa-trophy"></i>{{ctrs.yourRank.userData.value}}<span>匹</span></div>
								</div>
							</div>
							<ul>
								<li ng-repeat="result in ctrs.rankingCatchList | limitTo:10" ng-class="{'r1': result.rank == 1, 'r2': result.rank == 2, 'r3': result.rank == 3, 'add-trophy': result.rank <= 3}" class="rank_box">
									<div class="count"><small>Rank</small> {{result.rank}}</div>
									
									<div class="capture-value"><i class="fa fa-trophy"></i>{{result.value}}<span>匹</span></div>
								</li>
							</ul>
						</div>
					</div><!-- ranking_all_wrap_inner -->
				</div><!-- ranking_all_wrap -->
				
			</div>
		</main>
		
	</div>
	
</body>
</html>