<!doctype html>
<html ng-app="sakanatouch-ranking" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-touch.min.js" charset="utf-8"></script>
	<!--<script src="../assets/js/webview.js"></script>-->
   <script src="../assets/js/ng-ranking.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/webview_user.css">

</head>
<body ng-controller="RankingCtrl as ctrs">
	<div id="ranking" ng-class="ctrs.ranking_view_classname">

		<main>
			<div class="ranking-result-wrapper">
				<header>
					<h1><img src="../assets/img/webview/news_tit.png" alt=""></h1>
					<a id="closebtn" href='unity:close'><img src="/assets/img/webview/btn_header_close.png" alt="close btn"><span>とじる</span></a>
				</header>
				<nav class="ranking_tab">
					<button sakana-active class="catch" ng-click="ctrs.viewChange('catch_view')"><i class="fa fa-newspaper-o"></i><span>新着</span></button>
					<button sakana-active class="kind" ng-click="ctrs.viewChange('kind_view')"><i class="fa fa-trophy"></i><span>順位</span></button>
					<button sakana-active class="map" ng-click="ctrs.viewChange('map_view')"><i class="fa fa-map"></i><span>イベント</span></button>
					<button sakana-active class="user" ng-click="ctrs.viewChange('user_view')"><i class="fa fa-user"></i><span>あなた</span></button>
				</nav>
				<div class="ranking_all_wrap">
					<div class="ranking_all_wrap_inner">
						<div class="ranking_list_view list_view related">
							<ul>
								<li>
									<article>
										<h1>世界記録をさらに塗り替えるーー！なんと6000オーバーーーーーー！！！！！</h1><time>2016/3/24</time>
										<div class="desc">
											<p>心配だ。<br>みんな、この記録を見てもう「こんな神の領域に踏み込むなんて自分には無理だ…」なんて思わないだろうか。<strong>ファルコン</strong>さん！なーーーーんんと6260匹。<br>世界の海が枯渇しても、きっとファルコンさんだけはサカナを取り続けるだろう！4週連続の1位！マンスリー達成！！！</p>
											<p>2位は初登場！<strong>タカオ</strong>さん、1059匹！よくやった！その調子で次は2000を目指そうか！</p>
											<p>さあ、3位はキープ！<strong>玄界灘のまり</strong>さん！625匹！いやはや今回は大台にいかなかったけど上位入賞したね！</p>
											<p>一体ファルコンさんは1時間に平均どれくらい、サカナタッチで遊んでくれているのだろう？というか、どこまでが1週間で捕獲できる限界なんだろう？？</p>
											<p>この記録、どこまで行く？世界は、そう、キミを待っている。</p>
											<p><strong>アプリ、審査中！！！！</strong></p>
											<p>iPhoneアプリって、アップルにアプリの審査をして通らないとみなさんの手に渡らないのだよ、だからもうちょっとまっててね。</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>世界初新記録を樹立したファルコンさん、驚愕の5000オーバー！！！</h1><time>2016/3/17</time>
										<div class="desc">
											<p>まさかこんな記録を出すのは不可能だと思っていましたが、遂にその未知の領域に到達した<strong>ファルコン</strong>さん！驚愕の5071匹。<br>これは宇宙旅行で言えば、地球から出発した宇宙船がついに銀河系を飛び出したそんなイメージでしょうか。。これはもう神領域であります！3連続1位おめでとう！！</p>
											<p>2位はキープ、<strong>バンジャール</strong>さん、2085匹。この数字をもってしても1位の領域は遠かったか！？しかし大台の2000超え！</p>
											<p>そして3位<strong>玄界灘のまり</strong>さん！1007匹！ちらほらと名前は見かけていましたが遂に3位内にランクイン！！おめでとう！</p>
											<p>ファルコンさんは一体どういう人なのか？Twitterでつながりたいなあ（ボソ…）</p>
											<p><strong>アプリ、アップデート予告！！！！</strong></p>
											<p>水槽の仕様がちょっとだけ変更になります、ただし、みなさんが今までつかまえたサカナ達には影響ないのでご安心を！さあ、アップルの厳しいアプリ審査が待ってるぞ（運営側目線…）アップデートしたらまたここでお伝えします！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ひなまつりイベント「ヒメアイゴをつかまえろ！」が終了！！</h1><time>2016/3/11</time>
										<div class="desc">
											<figure>
												<img src="img/events/fig_hinamatsuri_2016.jpg" class="" alt="">
											</figure>
											<p><strong>イベント終了！結果発表！</strong></p>
											<p>集計結果が発表されました、詳しくは「イベント」タブをタッチしてね！			
											</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ファルコンさん2週連覇だーー！</h1><time>2016/3/8</time>
										<div class="desc">
											<p>さあ、サカナタッチ界で新たな王者誕生となるか！？先週に引き続き今週も1位をマークした<strong>ファルコン</strong>さん！大台の3025匹、おめでとう！！</p>
											<p>初登場にして2位！<strong>バンジャール</strong>さん、2817匹。なんという大漁捕獲！しかも1位を脅かす存在、一体どんな人！？</p>
											<p>3位はワンランクダウン、<strong>フラウ</strong>さんは2148匹！この数字で3位だと？？フラウさんあきらめないで！</p>
											<p><strong>【ここだけのはなし】1位になにかあげたい</strong></p>
											<p>今、サカナタッチ制作委員会で議題になっていることをこっそり教えるね！これだけ上位の方ががんばっているんだから、毎週1位に水槽やサカナをプレゼントする報酬システムをつくろうと検討中、はい、ここだけの話です。いつになるかはお楽しみ！</p>
											<p><strong>ひな祭りイベント</strong></p>
											<p>ヒメアイゴ、捕まえてる！？まだみんなの水槽にいるはずのないレアキャラがもれなくもらえるチャンス！これは期待していいかも〜！詳しくは「イベント」タブをタッチしてね。</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ファルコンさん！ダントツ！！</h1><time>2016/2/29</time>
										<div class="desc">
											<p>1位は前回2位から2735匹という大漁を引っさげてトップに躍り出た<strong>ファルコン</strong>さん！おめでとう！！</p>
											<p>2位初登場っ、<strong>フラウ</strong>さん、1677匹。いらっしゃい！！新星漁師でこの数字！よく頑張ってらっしゃいます！！</p>
											<p>こちらも初登場、<strong>プランクトン3彡</strong>さん！1202匹で3位だ！名前通り水中を漂って生活しているのでしょうね！！</p>
											<p>今週も上位どころか5位まで1000オーバー、これはすごいなあ。</p>
											<p><strong>ひな祭りイベント</strong></p>
											<p>さて、今週3日からはひな祭りイベント開催！今度こそあの伝説のアリゲーターガーをゲットするチャンスが全員に！これは参加するしかない、詳細は「イベント」タブから！！検討を祈る！！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ひなまつりイベント！「ヒメアイゴをつかまえろ！」にそなえよ！</h1><time>2016/2/26</time>
										<div class="desc">
											<figure>
												<img src="img/events/fig_hinamatsuri_2016.jpg" class="" alt="">
											</figure>
											<p>2月のバレンタインイベント、かなり盛り上がったね！じゃあ、3月は！？というと、あるんです、これが！<br>次は順位によって競うのではなく、みんなが平等にアリゲーター＆ハリセンボン、オキナワフグがもらえるルールです！<br>うれしいね、これはみんな参加する価値ありだね！</p>

											<p>ヒメアイゴ100匹以上つかまえた人全員もれなく、「オキナワフグ」がもらえるよ！</p>
											<p>さらに！！！前回は1人しかもらえる権利がなかった「アリゲーターガー」が、ヒメアイゴを1000匹オーバーした全員にプレゼント！<br>
											実は「アリゲーターガー」は<strong>世界中でたったひとり、前回の1位「蒼き鋼 イオナ」さんだけしか持っていません</strong>。<br>今回は2位3位限らず、ヒメアイゴ1000匹以上つかまえた人みんなもらえますよ！…………<br>
											ちょーーーっと待ってください！！せっかく1000オーバーしたのだから、これも付けちゃう！「ハリセンボン」とセットでプレゼントだ！！大サービス！			
											</p>

											<p>ただし、出現場所が不明です。<br>
											ただ、一度でもヒメアイゴをつかまえたことがある人は「図鑑」を見ればヒントが書いてあるはず！調べてみてね。
											</p>

											<p><strong>【ルール】</strong></p>

											<p>「ヒメアイゴ」を期間内に多くつかまえる</p>

											<p><strong>イベント期間</strong><br>&nbsp;&nbsp;2016年3月3日（木）〜2016年3月10日（木）<br>
											<strong>出現場所</strong><br>&nbsp;&nbsp;不明<br>
											<strong>ランキング結果発表予定日</strong><br>&nbsp;&nbsp;2016年3月11日（金）
											</p>

											<p><strong>【イベント報酬】</strong></p>

											<p>ヒメアイゴ100匹以上　オキナワフグ 1匹　水槽ごと<br>
											ヒメアイゴ1,000匹以上　アリゲーターガー + ハリセンボン 1匹づつ　水槽ごと</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「私はまだ伝説にならない」蒼き鋼 イオナさん再び降臨</h1><time>2016/2/22</time>
										<div class="desc">
											<p>いや…ご本人からそんなこと言われたわけじゃなくて、なんとなくそう思った運営側が勝手に言っております。。<strong>蒼き鋼 イオナさん</strong>さん。3731匹！お帰りなさい！もう…何も言えない感無量です（運営側が）。</p>
											<p>上位初登場だ！2位が<strong>ファルコン</strong>さん、3120匹。え！！これで2位だと！？3000オーバーしているぞ！なんてこった、すげーー。</p>
											<p>そしてイオナさんと同じくサカナタッチ界のカリスマのひとりで過去に3冠達成していた<strong>なかむら</strong>さんもここに再びランクイン！2816匹！！</p>
											<p><strong>驚愕、8位まで1000オーバー！過去最大の総捕獲数</strong></p>
											<p>今週のランキング結果を見てびっくりしているのは運営側の私だけでしょうか？？<br>なんと8位まで1000オーバーという驚きの結果に目を疑いました！！（記念にスクリーンショットを撮るという…）<br>上位も2000, 3000オーバーとすごいけど、バレンタインイベントの参加もあって、本当にみなさんすごい数を残してくださいました。<br>本当にアリガトウを言わせてください！！</p>
											<p><strong>バレンタインイベント結果発表</strong></p>
											<p>「イベント」タブから結果が見られます！20位までの方には、サカナタッチで初めて登場するレアなサカナを水槽ごとプレゼントしています！チェックしてね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>バレンタインイベント！「つかまえよう！クギベラのオスとメス！」始まります！</h1><time>2016/2/11</time>
										<div class="desc">
											<figure>
												<img src="img/events/fig_valentine_2016.jpg" class="" alt="">
											</figure>
											<p>さて、もうマンスリーとなっているサカナタッチイベント。2月はバレンタイン企画！クギベラのオスとメスが全国に大放流！ツガイをたくさん作って数を競い合おう！</p>

											<p>全ユーザー1位はまだ誰もつかまえたことのない「アリゲーターガー」をプレゼント！<br>
											さらに2位から20位まで、これも誰も捕まえていないサカナタッチ初登場のサカナたちがもらえる！！<br>
											上位を目指してレアキャラをゲットしよう！！！<br>
											さらに今回のイベントはどの位置でも参加可能！テーマパークとかにわざわざ行かなくても自宅で高ランクを目指せるぞ！！これはもう参加するしかないよね！！</p>

											<p><strong>【ルール】</strong></p>

											<p>「クギベラ・オス」と「クギベラ・メス」1組で1ツガイとし、イベント終了時にツガイの多いユーザーから以下のレアなサカナが水槽ごとプレゼント。</p>

											<p><strong>イベント期間</strong><br>&nbsp;&nbsp;2016年2月13日（土）〜2016年2月21日（日）<br>
											<strong>イベント開催場所</strong><br>&nbsp;&nbsp;全国どこでも可能<br>
											<strong>ランキング結果発表予定日</strong><br>&nbsp;&nbsp;2016年2月22日（月）
											</p>

											<p><strong>【バレンタインイベント報酬】</strong></p>

											<p>1位　アリゲーターガー<br>
											2位〜5位　ハリセンボン<br>
											6位〜10位　ハナゴイ + アカネハナゴイ（1匹づつ）<br>
											11位〜20位　オキナワフグ</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>れおまるさん初の1位！やはり先週の1位の方はすぐ冷めてしまったか…</h1><time>2016/2/8</time>
										<div class="desc">
											<p><strong>れおまる</strong>さん！！1479匹を引っさげて初トップへ！しかも1000オーバーという、すごいな！やるな！</p>
											<p>2位も初登場<strong>密漁船</strong>さん、1216匹。サカナタッチの世界であればどんどん密漁してください（何を？）</p>
											<p>3位が1ランクダウンで<strong>シャトラン</strong>さん！906匹。シャトランさんは上位キープですごくがんばっているなあー。これからもよろしくです！！</p>
											<p>面白かったのは前回の1位の方、ネーミング通りもう冷めて20位内にすらいないwww<br>これは笑える。</p>
											<p>バレンタインイベント、そろそろです！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>面白い名前の人が1位になった2月のはじめ</h1><time>2016/2/1</time>
										<div class="desc">
											<p><strong>熱し易く冷め易い</strong>さん、いきなりトップ！1847匹！あの、、すいません。来週もう冷めていなくならないでください。。</p>
											<p>2位は1ランクダウン<strong>シャトラン</strong>さん、1640匹！うーん、ちょっと油断したか？熱しやすい漁師は来週も熱を帯びているのか？</p>
											<p>3位も1ランクダウン<strong>MAKI</strong>さん！1364匹、前回より捕獲数はアップしているのに1ランクダウンとは何とも皮肉な。。</p>
											<p>ん？？？全員1000オーバー！？お、おい。すごいな、マジですか？<br>でも、フタを開けないと分からない1位の捕獲数。1位の道のりは長いのかもしれない。</p>
											<p>熱し易い人、来週冷めてたら、、、もう笑うしかない。。</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>シャトランさん、初の2連覇！！</h1><time>2016/1/25</time>
										<div class="desc">
											<p>先週上位に突如現れた<strong>シャトラン</strong>さん、今週もトップを飾り2週連続1位！990匹！もうすぐ天に、いや千に届きそう。毎日どれだけサカナタッチをやってくれてんだろ？ありがたいなあー！</p>
											<p>2位は上位初登場！<strong>MAKI</strong>さん、902匹！いきなりでこの数字…MAKIさんの心に日をつけたサカナは一体どいつだっ！？</p>
											<p>3位も初のお目見え！<strong>さやちゅん</strong>さん！838匹、なんというかもう名人と呼ばせてください。</p>
											<p>なんてこった…上位ランクどころか20位以内にも入れない運営側の数字の低さ。それに比べて毎週ユーザーさん、いや、漁師さんの成績がすごすぎる！！<br>毎週日曜から月曜に変わるタイミングがいつも楽しみです。</p>
											<p>【予告】さて！2月はバレンタインイベントをやります！！詳細は後日ここで！乞うご期待！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>入れ替わりの激しいサカナタッチのナンバーワン、シャトランさん！</h1><time>2016/1/18</time>
										<div class="desc">
											<p>まだ先週まで無名だった<strong>シャトラン</strong>さん、なんと1965匹捕獲！すごい量を引っさげて初の1位獲得！！</p>
											<p>2位に<strong>ALOHA</strong>さん、こちらも初上位ランクイン、1241匹！さすがだ</p>
											<p>3位に<strong>名無しの漁師</strong>さん！844匹、せっかくの3位ランクインなのでぜひニックネームをつけてね！！って先週も3位の方に同じこと言ったら、ちゃんと付けてくれたことを運営は見逃していません！ありがとう。</p>
											<p>それにしても本当に移り変わりが激しい！！サカナタッチを楽しんでくれていて嬉しくなってきます。しかし今週も1000オーバーどころか、2000オーバーも夢じゃないよね！！彼らにワタシは目が離せられない！！みんなはどうだい！？</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>マタギさん遂に初の1位！おめでとう！！</h1><time>2016/1/13</time>
										<div class="desc">
											<p><strong>マタギ</strong>さん！遂に1位だね！それも1811匹という大漁！！いつもありがとう！そしておめでとうーーー！！！</p>
											<p>2位に初登場は<strong>k.ego</strong>さん、いきなり1517匹というビックリする捕獲量です！またもや新星漁師誕生だー！</p>
											<p>3位に<strong>名無しの漁師</strong>さん！978匹せっかくの3位ランクインなのでぜひニックネームをつけてね！！ま、なんにせよおめでとう！</p>
											<p>それにしても毎週1000オーバーしている人が上位に上がってきてくれている。なんというか、1週間でそんなことができるのはホント大変だと思う、運営側もその苦労をちょっと知ってるので…頭が下がります！</p>
											<p>さて、お正月イベントでカニを食べた、いや、つかまえたかな？富山の方、超レアのダイオウイカを見たかい！？</p>
											<p>次のイベントは2月のバレンタインの予定！！！場所は！？レアサカナは！？さあ、ご期待ください！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>新春一発目はなんとあの伝説の漁師、再浮上トップを独占！</h1><time>2016/1/4</time>
										<div class="desc">
											<p>今年最初の1位はなんと、あの<strong>蒼き鋼 イオナ</strong>さんが、3433匹というびっくりする数字を引っさげて帰ってきた！！おかえり！！</p>
											<p>2位は初登場！！<strong>マタギ</strong>さん、いきなり2015匹！？すっげーー。期待の漁師さん。</p>
											<p>3位も新星、<strong>ドドンパ</strong>さん！983匹、ってもうすぐ1000オーバーだよ、びっくりだ</p>
											<p>2016年はじめからいきなり予想もつかない展開になった！サカナタッチのすごい漁師さんは大勢いるってことですね、いやいや、運営側はウレシイですよ！</p>
											<p>色々な意味で毎回期待を裏切られるユーザーのみなさんへ感謝してます！どうか今年もサカナタッチをよろしくお願いします！！</p>
											<p>いきなりですが、蒼き鋼 イオナさんがTwitterで報告していますが、正月イベントでカニを捕まえて、なんとダイオウイカまでつかまえたという。富山まで行かれたんですかね。すごい人だよ、、イオナさん。</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>あけましておめでとう、そして新春イベント開始！</h1><time>2016/1/1</time>
										<div class="desc">
											<p>みなさま、2016年あけましておめでとうございます！！</p>
											<p>サカナタッチが誕生して初めてのお正月を迎えることができました！！これもユーザーの皆様のおかげです。ありがとう！これからもよろしくお願いします！</p>
											<p>みんな初詣に行くのかな？あるいは実家に帰っているのかな？<br>サカナタッチの新春イベントは今日から開催！なんと場所は各都道府県に1ヶ所ずつ人気の初詣の場所に<strong>「タカアシガニ」</strong>が大量発生するよ！！発生場所は<a href="#" ng-click="ctrs.viewChange('map_view')">こちら</a>から確認してね！！
											</p>
											<p>今年もサカナタッチをどうぞよろしくお願いします！！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>くすきさん、2週連続1位を達成！！</h1><time>2015/12/28</time>
										<div class="desc">
											<p>2015年を締めくくる漁師さんは<strong>くすき</strong>さん、1602匹で2週連覇を達成！おめでとう！！</p>
											<p>2位に初登場！！<strong>みなみ</strong>さん、苗字かな？下の名前かな？1025匹捕獲、いらっしゃい、ようこそベテラン漁師の世界へ！</p>
											<p>3位は<strong>名無しの漁師</strong>さん！727匹獲得。せっかくなのでニックネーム登録をよろしく！！</p>
											<p>今年5月にサカナタッチが生まれて多くの漁師さんに愛されてきました、本当にありがとう！！来年もよろしくね！！</p>
											<p>みんなお正月は実家に帰省したり旅行に行くのかな？こういう時こそサカナタッチで遠くの場所のサカナをゲットしよう！きっと近場では獲れないサカナがいるかも！？ではでは、良いお年を！！</p>
											<p>【<strong>号外！！富山にダイオウイカ！？</strong>】
												<figure>
									<img src="img/events/fig_daiouika.jpg" class="left" alt="">
								</figure>富山港でダイオウイカが見つかったってニュース聞いたかい？そのニュースを受けて、年末年始、富山港周辺でダイオウイカを放流したよ！！実はまだ誰も捕まえていないはず、実はサカナタッチの世界にはもっと幻のサカナがいるんだよ！！<a href="#" ng-click="ctrs.viewChange('map_view')">こちら</a>も見てね！
											</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ついに不敗神話が崩壊！そして新しい1000オーバーの漁師さんが二人も登場！</h1><time>2015/12/22</time>
										<div class="desc">
											<p>ついに7週目独走ならず！新しい漁師の誕生、しかも上位二人が1000オーバー！</p>
											<p>1位初登場！！<strong>くすき</strong>さん、1906匹！！おめでとう！！！＆惜しい、もうちょっとで2000の大台！次は是非狙って欲しいっ！</p>
											<p>2位も初登場！！<strong>西田敏行</strong>さん、え？本物？まさかね、1184匹捕獲、いや〜お見事！</p>
											<p>3位は913匹獲得の<strong>NULL</strong>さん。こちらも惜しい！あとちょっとで1000の大台、来週こそはぜひ！</p>
											<p>いやはや、こういうこともあるんだな〜と、前週まで6週連続1位なんて偉業を達成するなんてないと正直思っていた運営側なので、多くの方がサカナタッチで遊んでくれていることがわかってとてもウレシイ！</p>
											<p>さあ、今年も残り僅かだね！風邪など引かずに身体に気をつけてお過ごしください！あとテーマパークでサカナタッチイベントにも参加してね！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>【全国のテーマパークで開催！】クリスマスイベント開始！</h1><time>2015/12/19</time>
										<div class="desc">
											<p>さて、はじまりました！<br>全国のテーマパークで<strong>カクレているあいつ</strong>をつかまえよう！普段はなかなか出現しない、オレンジと白のあのサカナがこの期間に大量出現するボーナスイベント！出現するテーマパークは<a href="#" ng-click="ctrs.viewChange('map_view')">こちら</a>から！ぜひチェックして参加してね！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「蒼き鋼 イオナ」さん6週連続1位達成、2ヶ月連続を守り切るか！？</h1><time>2015/12/15</time>
										<div class="desc">
											<p>相変わらずの独走態勢<strong>「蒼き鋼 イオナ」</strong>さん、今週は2926匹、先週より大幅に捕獲！もうこの人の勢いを止められる人はいないのか！？</p>
											<p>そして2位に初登場！<strong>「undefine」</strong>さん764匹！さすがに1000オーバーならずともこの数字は努力の賜物…いや、楽しんでね！</p>
											<p>3位もこれまた初登場！<strong>「AS666」</strong>さん、634匹。充分すごいよ！</p>
											<p>そろそろ心配になってきたのは「蒼き鋼 イオナ」さんは普段どんな生活をしているのか？寝ずにサカナを捕まえているひとなのか？なんて運営側。。</p>
											<p>さて、クリスマスシーズンに行くテーマパークは決まったかな？カクレているあいつ！ぜひ捕まえに行ってね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>【全国のテーマパークで開催！】クリスマスイベント告知開始！</h1><time>2015/12/10</time>
										<div class="desc">
											<p>さて、以前から予告していたサカナタッチのイベント第二弾！「クリスマスはテーマパークにカクレているあいつを探せ！！」</p>
											<p>カクレているオレンジのサカナ、といえば！？もう分かるよね！<br>開催期間は2015年12月19日（土）から2015年12月25日（金）までの1週間、サカナタッチのレアキャラであり、一般でも人気のオレンジ色のカワイイサカナ「カ◯レ◯◯◯ミ」がクリスマスシーズンに大量発生、つかまえやすくなるよ！</p>
											<p>そしてついに出現場所がここに公開！なんと「テーマパーク」です！！</p>
											<p>そう、クリスマスシーズンにみんなが行く場所、デートで、ファミリーで、イルミネーションに浮かぶオレンジ色のサカナが宙に浮かぶ！なんとロマンチックだろうー。</p>
											<p>出現するテーマパークの一覧は<a href="#" ng-click="ctrs.viewChange('map_view')">こちら</a>でチェックしてね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「蒼き鋼 イオナ」さん、5週連続1位を守る！</h1><time>2015/12/7</time>
										<div class="desc">
											<p>先週でレジェンドになった漁師<strong>「蒼き鋼 イオナ」</strong>さん、今週は2074匹と相変わらず独走状態！これはいつまで続くのか！？</p>
											<p>そして2位に初登場！<strong>「名がnull漁師」</strong>さん1705匹！おお、またもや期待の漁師誕生か！？1位と約300差なので来週はもしかして新しい1位が誕生するのか！？</p>
											<p>3位も初登場が続く！717匹の<strong>「たけこう」</strong>さん！いやいや、700オーバーだって大した努力よ！</p>
											<p>ま、まさか2015年内このままイオナさんが王者を守りぬくとか…いやいや、そう長く続けるのも大変だし。。さあ、他の漁師さんも負けずとつかまえよう！！</p>
											<p>なお、クリスマスイベントの時期や場所など、詳細は今週発表しますよ！！！毎日サカナタッチを立ち上げてみよう！（む、無理やり…）</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ここに伝説を刻むーーーー！！「蒼き鋼 イオナ」さんマンスリー連続1位を達成！！さらに史上初の4000オーバーを記録！もうこれは事件だ！？</h1><time>2015/12/1</time>
										<div class="desc">
											<p>やはり神はこの人！！<strong>「蒼き鋼 イオナ」</strong>さん、史上初を自身で塗り替えた！4300位で堂々の4週連続1位！遂に4週連続1位、マンスリー王者に君臨した！！</p>
											<p>そして2位に初登場！<strong>「チョコ」</strong>さんの1490匹！これだけでもすごい努力よ！ホント。</p>
											<p>3位も初登場！1073匹の<strong>「やも」</strong>さん！こちらも1000オーバーってすごい！うれしいねえ、こうやって新しい人が上位に上がってくるのって！！</p>
											<p>伝説となったのか、いや、「オレ（私）はまだ伝説なんかにならないぜ」とい言われるかもしれませんが「蒼き鋼 イオナ」さん、この11月の4週を通算すると、12655匹も捕まえていることになります。きっと何10万ギョールドも稼いでいるのかな？<br>どういう生活を送られているのか？心配にもなりますが、生活の中にサカナタッチ、これは超うれしいですよ。運営側として。1週間で4300匹って見たとき、自分の目を疑ったのでした。（疑ってゴメン）<br></p>
											<p>さあ、そんなわけで12月に突入！早いものですね今年ももうあと1ヶ月です。そこでサカナタッチではクリスマス前の1週間に「クリスマスにカ◯レ◯◯◯ミ大発生！」イベントを全国各地のとある場所でやります！<br>全国の方が参加できるので、続報を楽しみにしていてください！！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>3週連続1位は「蒼き鋼 イオナ」さん！遂に来週史上初のマンスリーとなるのか！？</h1><time>2015/11/24</time>
										<div class="desc">
											<p><strong>「蒼き鋼 イオナ」</strong>さん2675位で堂々の3週連続1位！前回の史上初3000オーバーに続き、遂に来週…史上に史上が続く初の1ヶ月連続一位が遂に達成されるのか！？</p>
											<p>そして2位に浮上！！<strong>「ダックス！！」</strong>さんの1590匹！実はダックス！！さんも前回から相当がんばったんですよ！もう順位関係なくその努力を讃えたい！でも、諦めずに1位を獲ってほしい！</p>
											<p>3位が1061匹の<strong>「名無しの漁師」</strong>さん！ひとまず3位入賞には大体1000オーバーが目安となっているのかな？せっかくなのでニックネームをつけてくださいm__m</p>
											<p>さてさて、、いよいよ気になるのは来週のランキング！1位を獲得してサカナタッチ初のマンスリー王者「蒼き鋼 イオナ」さんとなるのか？それとも「ダックス！！」さんに1位を奪われるのか？？もう目が離せられないのではないか！？楽しみであります！</p>
											<p>さて、みなさん、クリスマスの予定は？次のイベントが決定しました。詳細は後日発表しますが、あの<strong>いつも隠れているオレンジ色</strong>のあのサカナがクリスマスに大量発生！？場所はどこだ！？こちらも乞うご期待！！</p>
										</div>
									</article>
								</li>
								<!-- <li>
									<article>
										<h1>伝説となるか！？史上初3000オーバー！2週連続1位は「蒼き鋼 イオナ」さんだ！</h1><time>2015/11/16</time>
										<div class="desc">
											<p>こ、これはもう……正直運営側もどう表現していいのかわかりません！！<strong>「蒼き鋼 イオナ」</strong>さん先週の初登場ダントツから2週連続1位！史上最大捕獲数3245匹！いったいこの方どこまで登りつめるのだろうか！？1日に換算すると463匹も捕まえていることになる…そして「蒼き鋼 イオナ」さんはTwitterでメンダコを50匹以上も捕まえたことを報告しています。きっと鋼のような心で漁に挑んでいるに違いない。。果たして来週はこの数字を超えるのか？いや、、まさかこれ以上はさすがに…。うーむ。。。</p>
											<p>そして2位！初登場だね！<strong>「ネコバス」</strong>さんの1158匹！いやいや、1位が凄すぎたから分かりにくいけど1000オーバーを達成するのも大変なのは運営側もよくわかっていますよ！！ネコバスさんの努力に拍手！</p>
											<p>3位はこちらも初登場<strong>「ダックス！！」</strong>さん、949匹！もうすぐで1000オーバーだった、惜しい！次はぜひ！！</p>
											<p>それにしても、週明けに「蒼き鋼 イオナ」3245匹の数字を見て「システム大丈夫か？」と心配になるくらいだったですよ（苦笑）<br>さて、メンダコイベントが終了しました！みなさんどれだけ捕まえたのかな？<br>ランキング上位はまた<a href="#" ng-click="ctrs.viewChange('map_view')">&nbsp;ここ&nbsp;</a>で発表しますね！</p>
											<p>あと、Twitterでメンダコを乗っけてくれた人、ありがとう！ちゃんと運営側は見てますよ！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>メンダコイベント、いよいよ15日までで終了！まだの人は急ごう！</h1><time>2015/11/11</time>
										<div class="desc">
											<p>全国50ヶ所の水族館に出現するレア生物、メンダコが採れるのは11/15（日）まで！もう会えないかもしれないメンダコをキミの水槽にも！水族館へGO！</p>
											<p>メンダコが出現する水族館は<a href="#" ng-click="ctrs.viewChange('map_view')">&nbsp;ここ&nbsp;</a>から確認してね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>うおーーっ！な、何が起こったんだ！？1位は「蒼き鋼 イオナ」さん！！</h1><time>2015/11/9</time>
										<div class="desc">
											<p><strong>「蒼き鋼 イオナ」</strong>さん初登場のダントツ1位、その数なんと2435匹！とてつもない数字で運営側がビビってしまった！！！一体どんな人？どういう漁師さん？</p>
											<p>そして遂に2位にダウン！<strong>「なかむら」</strong>さんの2222匹。4週連続はならずか！…しかしこの数字もすごい、そしてゾロ目！！</p>
											<p>3位<strong>「いいねこ。」</strong>さん、1502匹！な、なかなか1位が険しいね、頑張っているのは運営側も知ってますが、、いや、今週は特に数字が異常だ、、</p>
											<p>それにしても一体どうした！？今回はなんと2,000オーバーが二人も！恐ろしい数字だ、それにしても首位を脅かす「蒼き鋼 イオナ」さんとは一体…！？<br>来週はどうなるんだ？運営はうれしいというより………こわい！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「なかむら」さん3冠だーーっ！！史上初の4週連続王者となるか！？</h1><time>2015/11/3</time>
										<div class="desc">
											<p><strong>「なかむら」</strong>さん、3週連続1位の1576匹！すでにこの3連続記録は初めてです。来週、なかむらさんは4週、つまり通算1ヶ月の王者になるか！？期待大の漁師さん！</p>
											<p>またも2位をキープ！<strong>「いいねこ。」</strong>さんの1438匹。いいねこ。さんはTwitterでもつぶやいてたけど悔しいね！まだチャンスはあるけど、1位のなかむらさんにすごいと言っているところが、なんとなくスポーツマン精神な感じ！1位を獲って欲しい！</p>
											<p>3位初登場<strong>「もえきち」</strong>さん、1267匹！「もえ」はどっちでしょう？「燃え？」「萌え？」どちらにしても漁師の心に「もえ」が大切ということなのかっ！？</p>
											<p>すごいのは4位まで（前回3位のごんちゃんさん）全員が1000オーバーなんです！これは先週より意味すごいことです。うれしいなあー。</p>
											<p>さて、11/1から始まった初のサカナタッチイベント。キミはもうメンダコをつかまえたかい？ぜひ水族館に足を運んでリアルなおサカナを見ながらサカナタッチでも遊んでほしいな！上位に入れなかった漁師さんもこのイベントを機に1000オーバーを目指してみないかい！！？？</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>[NEW!] 全国50ヶ所に！水族館にメンダコ出現イベント、スタート！！</h1><time>2015/11/1</time>
										<div class="desc">
											<p>本日より開催！全国の水族館にメンダコが出現！</p>
											<img src="img/events/mendako_get.jpg" class="left" alt="">
											<p>「エプソンアクアパーク品川」を追加して全国50ヶ所の水族館に出現！メンダコを捕まえよう！</p>
											<p>水族館の詳細などくわしい情報は<a href="#" ng-click="ctrs.viewChange('map_view')">こちら</a>」で確認してね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>[イベント開催!] 期間限定！あの人気のかわいい「メンダコ」が全国の水族館に出現する！！！</h1><time>2015/10/29</time>
										<div class="desc">
											全国49ヶ所の水族館に出現！あのかわいらしい「メンダコ」を捕まえろ！！
											<p>期間限定：2015/11/1（日）〜2015/11/15（日）</p>
											<img src="img/events/anim_mendako.gif" class="left" alt="">
											<p>巷でカワイイ！と人気の深海生物「メンダコ」がサカナタッチに出現！！捕獲可能な場所は全国49ヶ所の水族館！<br>超レア生物なので、この期間を過ぎるといなくなってしまいます。実際の水族館の水槽を眺めるついでに、サカナタッチでメンダコを探してね！！</p>
											<p>水族館の詳細などくわしい情報はこの上にある「<a href="#" ng-click="ctrs.viewChange('map_view')"><i class="fa fa-map"></i>イベント</a>」のボタンをタッチしてね！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「なかむら」さん2冠達成！上位3位全て1000オーバーに拍手！</h1><time>2015/10/26</time>
										<div class="desc">
											<p><strong>「なかむら」</strong>さん、1332匹で2週連続1位達成おめでとう！！この記録、来週も続くか楽しみです！</p>
											<p>2位もキープ！<strong>「いいねこ。」</strong>さんの1028匹。いいねこ。さんも1000オーバー！と前回より上々の結果！</p>
											<p>3位初登場<strong>「ごんちゃん」</strong>さん、1012匹！またもや僅差、というより今回は上位がずべて僅差！もう誰が1位になってもおかしくない！！</p>
											<p>今週はなんと！上位3位がすべて1000オーバーを果たすという大快挙！3人の漁師さんに運営側から大きな拍手です！！<br>さてさて、そろそろなんですが、新しいサイドミッションがここで展開される予定！乞うご期待！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>新星来る「なかむら」さん初登場1位！</h1><time>2015/10/21</time>
										<div class="desc">
											<p>今週の一位は初登場<strong>「なかむら」</strong>さん、初めて苗字っぽい（中村・中邑・仲村など漢字にすると色々！！）ニックネームの漁師さん、1週間で1403匹ですよ！どんな捕まえ方してるんだろ？ほんとすごい。</p>
											<p>2位も初登場<strong>「いいねこ。」</strong>さんの932匹。関係ないけどこれ書いてる私、ねこが好きです。</p>
											<p>3位が909位の<strong>「null」</strong>さん、こちらもすごい！2位との差、惜しい、で、もう一度ニックネーム登録をお試しください〜！</p>
											<p>どうやったら1週間で1000オーバーしちゃうのか？運営側も漁師さんの絶え間ない努力に脱帽。。さて、これを書いている今日はオリオン座流星群のピークらしいです。今夜は星でも見ようかな。来週のランキングも楽しみにしているよ！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>「放浪釣師」さん3冠達成！</h1><time>2015/10/13</time>
										<div class="desc">
											<p>10月の最強釣り師はもうこの人に決まりか！？1064匹捕獲の<strong>「放浪釣師」</strong>さん、3週連続はサカナタッチ初記録、おめでとう！</p>
											<p>2位に初登場<strong>「LSDEYD」</strong>さんの850匹。たった1週間でよくもこんなに釣っていただきました！初登場でこの数字はすごいね！</p>
											<p>3位が831位の<strong>「名無しの漁師」</strong>さん、大変お手数ですがニックネームを是非っ！今週も2位と3位が僅差となりました。このように「もうちょっと」で上位を狙えるばず！</p>
											<p>うーん、、、「放浪釣師」さんはまさかこのままだと1ヶ月連続一位を獲得するのか？それとも別の誰かが…</p>
											<p>よく考えると見たことのない人が次々とベスト20にランクインしている。これだけ動きが激しいのはある意味、サカナタッチが多くの人に愛されているんだなー、と、勝手に都合よく解釈してしまう運営側。みんなありがとう！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>新しいツワモノ「放浪釣師」さん2週連続1位！</h1><time>2015/10/5</time>
										<div class="desc">
											<p>2週続けて10月の最強釣り師はこの人か！？1257匹捕獲の<strong>「放浪釣師」</strong>さん！2冠達成おめでとう！やはり放浪してるのかも！！</p>
											<p>2位に<strong>「null」</strong>さんの729匹。す、すいませんが一度名前を付け直してもらえると助かります。</p>
											<p>3位が初登場！！<strong>「よねかじ」</strong>さん、720匹、2位と僅差でした、次は2位、いや一位を狙ってね！！</p>
											<p>さて、来週は3週連続「放浪釣師」さんがトップを勝ち取るか？それとも…！？非常に接戦が予想される毎週のランキングにキミもチャレンジしてみないか！？では、検討を祈る！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>またも2000オーバーが！「放浪釣師」さんトップ更新！！</h1><time>2015/9/28</time>
										<div class="desc">
											<p>ランキングが激変！今までの上位がいない！？新しい漁師の誕生か！？一位は2076匹捕獲の<strong>「放浪釣師」</strong>さん！名前通り全国放浪してサカナタッチを使ってくれていた…なんてことはないか…。</p>
											<p>2位も上位初浮上<strong>「ノーチラス号」</strong>さん、原子力で航行しながら捕獲か！？1082匹、この数字もすごい！。</p>
											<p>3位…<strong>「null」</strong>さん、592匹…なんだけどこれってプログラムミスかな、、nullさんいっぱいいるし。</p>
											<p>もしも「名前を入れたのにnullなんて…」と思った方はぜひサカナタッチ公式Twitter（@sakanatouch）をフォローしてメッセージを投げてね！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>今週の1位は「ライトホーク」さん！入れ替わりが激しいランキング更新！</h1><time>2015/9/21</time>
										<div class="desc">
											<p>2週連続の1位をキープ！<strong>「ライトホーク」</strong>さん！1361匹！おめでとう！！</p>
											<p>2位にランクアップ<strong>「にゃーのにゃー」</strong>さん、751匹と先週より頑張った！</p>
											<p>3位の<strong>「大漁節」</strong>さん、700匹。いかにも漁船って感じのネーミングをありがとう！</p>
											<p>入れ替わりが激しいですね、キミも上位ランクのチャンスは充分にある！<br>みんなの水槽がそろそろ見てみたいな〜</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>図鑑にサカナの出現条件を公開！！</h1><time>2015/9/15</time>
										<div class="desc">
											<img src="img/fig_new_dictionary.jpg" class="left" alt="">
											<p>本日アップデート版が公開されました！<br>このバージョンで、まだつかまえていないサカナの捕獲条件までもが表示されます！！！<br>たとえば「九州地方」とか「10km〜20km」といったホームからの距離なども表示されます。（ただし、あなたがつかまえていないサカナに関しては？マークで表示されます）<br>まだ、あなたがつかまえられていないサカナの情報を知れるチャンス！！</p>
											<p><a href="https://itunes.apple.com/jp/app/sakanatatchi-yuwoatsumete/id983560663?l=ja&mt=8">必ずこちらから新バージョンをダウンロードしてね！&nbsp;</a><i class="fa fa-external-link"></i></p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>今週のランキング発表！</h1><time>2015/9/14</time>
										<div class="desc">
											<p>今週の1位は先週2位だった<strong>「ライトホーク」</strong>さん！1737匹でワンランクアップ、ついに1位を獲得！おめでとう！！</p>
											<p>2位に浮上した<strong>「天草の母ちゃん。」</strong>さん、天草というから熊本の方なのかな？（そういえば今日阿蘇山が噴火してた、大丈夫かな…？）869匹、いやほんと1週間でこの数字はホントすごいですね！</p>
											<p>3位の<strong>「にゃーのにゃー」</strong>さん、猫好きなんでしょうか？猫はよく魚を食うから？違うか。。</p>
											<p>それにしてもだんだんみなさんニックネームをつけてくれてありがとう！！<br>サカナタッチで世界一（？）の漁師を目指してね！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>酸素ボンベ</h1><time>2015/9/5</time>
										<div class="desc">
											<img src="img/img_oxgen_bombe.png" class="left" alt="">
											<p>サカナタッチ初のアイテム！「サカナをさがす」画面でエネルギーが切れたら酸素ボンベを使うことで全回復するようになった！</p>
											<p>料金は5,000ギョールドとちょっとお高めだけど、よろず屋ナッチの店で買えるのでよろしくおねがいします！！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>ランキング更新したら…すごい漁師が！</h1><time>2015/9/5</time>
										<div class="desc">
											<p>今週の1位は、なんと！！！すげーーー。2155匹もつかまえた<strong>「ゆうpompon」</strong>さん。こんな数つかまえられる人はスタッフでも見たことないです！</p>
											<p>でも2位の<strong>「ライトホーク」</strong>さんでも1517匹、これもすごくて並の漁師じゃないことは火を見るより明らか！</p>
											<p>4位<strong>「海女直」</strong>さんは前回2週連続で1位を独占していたツワモノ、いずれもすごい漁師です。他のみなさんも負けじと頑張ってね！</p>
										</div>
									</article>
								</li>
								<li>
									<article>
										<h1>レビュー募集！！！</h1><time>2015/7/20</time>
										<div class="desc">
											みんな楽しんでくれているかな？よかったらアプリのレビューを書いてね！！
											<p><a href="https://itunes.apple.com/jp/app/sakanatatchi-yuwoatsumete/id983560663?l=ja&mt=8"><i class="fa fa-external-link"></i>サカナタッチのレビューを書いてみる</a></p>
										</div>
									</article>
								</li> -->
							</ul>
						</div>
						<div class="ranking_list_view list_view week_ranking">
							<div class="ranking_header">
								<img class="ranking_tit" src="../assets/img/ranking/tit_webview_ranking.png" alt="">
							</div>
							<div class="summery inner">
								<p>今週つかまえたユーザーランキング上位20位を発表！<br>めざせ！トップ20！</p>
								<p class="days">集計期間 {{ctrs.startDay}} 〜 {{ctrs.endDay}}</p>
							</div>
							<div class="your_lank" ><!--  ng-model="ctrs.yourRank_loadData" -->
								<div class="rank_box" ng-class="{'r1': ctrs.yourRank.userData.rank == 1, 'r2': ctrs.yourRank.userData.rank == 2, 'r3': ctrs.yourRank.userData.rank == 3, 'add-trophy': ctrs.yourRank.userData.rank <= 3}">
									<div class="count"><small>あなたの順位</small> {{::ctrs.yourRank.userData.rank}}</div>
									<div class="capture-value"><i class="fa fa-trophy"></i>{{::ctrs.yourRank.userData.value}}<span>匹</span></div>
								</div>
							</div>
							<ul>
								<li ng-repeat="result in ctrs.rankingCatchList | limitTo:20" ng-class="{'r1': result.rank == 1, 'r2': result.rank == 2, 'r3': result.rank == 3, 'add-trophy': result.rank <= 3, 'ry': result.user_id == ctrs.yourRank.userData.user_id}" class="rank_box">
									<div class="count">{{result.rank}}</div>
									<div ng-show="result.nickname" class="nick-name">
										{{result.nickname}}
									</div>
									<div ng-hide="result.nickname" class="nick-name">
										名無しの漁師
									</div>
									<div class="capture-value"><i class="fa fa-trophy"></i>{{result.value}}<span>匹</span></div>
								</li>
							</ul>
						</div>
						<div class="ranking_list_view list_view user_setting">

							<div class="summery inner">
								<div class="user_header">
									<p>捕獲数上位ユーザーはニックネームがランキングに表示されるよ。ぜひ登録してね！<br>（本名やメールアドレス、住所など、本人が特定される情報はなるべく避けてね）</p>
								</div>
								<dl class="user_info_input">
									<div user-nick-name></div>
									<div user-profile></div>
								</dl>
								<!-- <p class="user_info_header">
									情報
								</p> -->
								<table>
									<tr>
										<th>累計捕獲数</th>
										<td>
											<p>{{ctrs.yourRank.userData.total_count}}匹</p>
										</td>
									</tr>
									<tr>
										<th>捕獲した生物</th>
										<td>{{ctrs.yourRank.userData.total_type_count}}種類</td>
									</tr>
									<tr>
										<th>最高ランク</th>
										<td>
											<p>{{ctrs.yourRank.userData.max_rank}}位</p>
										</td>
									</tr>
									<tr>
										<th>所持金</th>
										<td>{{ctrs.yourRank.userData.amount}}G</td>
									</tr>
									<tr>
										<th>水槽数</th>
										<td>{{ctrs.yourRank.userData.tank_count}}台</td>
									</tr>
									<tr>
										<th>クリアミッション数</th>
										<td>{{ctrs.yourRank.userData.clear_mission_count}}ミッション</td>
									</tr>
								</table>
							</div>

						</div>
						<div class=" list_view seisokuchi_map">
							<div class="inner">
								<section>
									<h2 class="fz120">【イベント終了！！】ひなまつりイベント！「ヒメアイゴをつかまえろ！」結果発表！！</h2>
									<div class="desc">
										<figure>
											<img src="img/events/fig_hinamatsuri_2016.jpg" class="" alt="">
										</figure>
										<p>さて！ひなまつりのイベント、遂に終了しました。<br>
										結果は…いやーー今回はちょっと難易度高かったか！？<br>参加者は多いようでしたが、受賞した方、つまり期間内にヒメアイゴを100匹以上つかまえた方は5名！！			
										</p>
										<p>さすがに出現場所が不明という条件では厳しかったか！？それとも自宅（ホーム）周辺で出てこないサカナを100匹なんて無茶だったんだろうか！？</p>

										<p>でも！！<br>
											やはり超人的な漁師がやはり存在した、そして1000匹オーバーというとんでもない猛者が記録を打ち立てたのだ！！
										</p>

										<p><strong>【結果発表】</strong></p>

										<ol>
											<li>なかむら　1159匹</li>
											<li>蒼き鋼 イオナ　1032匹</li>
											<li>バンジャール　351匹</li>
											<li>赤い彗星のニャー　179匹</li>
											<li>ナンテコッタ〜　171匹</li>
										</ol>
										
										<p>1000オーバー！！！！！それももうサカナタッチの世界で上位を目指す人にとってのカリスマ！？<br>
										1位は<strong>なかむら</strong>さん！なんと1159匹！！あのヒメアイゴだけでこの数字？一体何をしている人なのだ？？<br>
										2位はもう、みんな知ってるこの漁師！<strong>蒼き鋼 イオナ</strong>さん、1032匹ーーー。<br>
										もう、向かうところ敵なし、いや、敵だらけ？？あ、ウソウソ。いやあ、お見事としか言いようがない！！<br>
										お二人には、アリゲーターガー + ハリセンボンの1匹づつ、水槽ごとプレゼント。<br>
										さらに、100匹オーバーの<strong>バンジャール</strong>さん、<strong>赤い彗星のニャー</strong>さん、<strong>ナンテコッタ〜</strong>さんのお三方についてはオキナワフグを1匹、水槽ごとプレゼント！<br>いずれもレアキャラだ！！おめでとう！！
										</p>
										<p>思えばこの面々はサカナタッチ界で有名人ばかり、しかし上位に立つと今度は追われる立場、頑張って欲しいです！</p>
										<p><strong>【次回は】</strong></p>
										<p>さてさて、4月もやりますよ！今度は特定の場所にしかいないサカナが、全国のある場所に大漁出現！その場所とは！？報酬は！？気になるね！！次回も健闘を祈る！！！</p>
									</div>
								</section>
							</div>
						</div>
					</div><!-- ranking_all_wrap_inner -->
				</div><!-- ranking_all_wrap -->

			</div>
		</main>

	</div>


	<script type="text/ng-template" id="user_nick_name_tmp">
		<div class="user_nick_name">
			<dt>ニックネーム（８字以内）<i class="fa fa-pencil"></i></dt>
			<dd>
				<div ng-show="!nickNameCtr.isEdit">
					<h2 ng-show="ctrs.yourRank.userData.nickname">{{ctrs.yourRank.userData.nickname}}</h2>
					<h2 ng-show="!ctrs.yourRank.userData.nickname">名無しの漁師</h2>
				</div>
				<input  ng-show="nickNameCtr.isEdit" ng-blur="ctrs.userDataChange()" ng-model="ctrs.yourRank.userData.nickname" name="user_name" type="text" maxlength="8">
			</dd>
		</div>
	</script>
	<script type="text/ng-template" id="user_profile_tmp">
		<div class="user_profile">
			<dt>プロフィール<i class="fa fa-pencil"></i></dt>
			<dd>
				<p ng-show="!profileCtr.isEdit" ng-bind="ctrs.yourRank.userData.profile">
				</p>
				<textarea  ng-show="profileCtr.isEdit"  name="user_info"  ng-blur="ctrs.userDataChange()" ng-model="ctrs.yourRank.userData.profile"></textarea>
			</dd>
		</div>
	</script>

</body>
</html>
