@import "main";
/*
	webView Default
	--------------------------------------------
*/
@mixin webview {
	.list_view {
		ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid rgba(0, 0, 0, .2);
		}
		li {
			list-style-type: none;
			border-bottom: 1px solid rgba(0, 0, 0, .2);
			padding: .5rem 1rem;
			vertical-align: middle;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
	font-family: Arista2, sans-serif;
	background-color: $blue;
	color: white;
	font-size: 80%;
}

@keyframes grow {
	0% {
		text-shadow: 0 0 0 white;
	}
	50% {
		text-shadow: 0 0 20px white;
	}
}

/*
	rangking
	--------------------------------------------
*/
.webview_html, .webview_html body {
	background-color: transparent;
}
#news {
	@include webview;
	height: 100%;
	header {
		img {
			width: 100%;
		}
	}
	.fa {
		display: none;
		position: absolute;
		top: -10px;
		left: -10px;
		color: #E6C846;
		font-size: 250%;
	}
	li {
		h2 {
			position: relative;
		}
		&.new_content {
			.fa{
				display: block;
			}
			h2 {
				padding-left: 2em;
			}
		}
		.summery {
			font-size: 90%;
		}
	}
}

#ranking {
	@include webview;
	.summery {
		padding: 1em;
		p {
			margin-top: 0;
			margin-bottom: .3em;
			float: right;
			width: 70%;
			font-weight: bold;
		}
		img {
			float: left;
			width: 20%;
			height: auto;
		}
		@include cf;
	}
	header {
		h1 {
			margin: 0;
			img {
				width: 100%;
			}
		}
	}
	.ranking_tab {
		margin: .8em 0 0;
		display: flex;
		justify-content: space-around;
		button {
			width: 50%;
			display: block;
			border: 1px solid darken($blue, 15%);
			border-bottom: none;
			background-color: #fff;
			padding: .6em 0;
			border-radius: 5px 5px 0 0;
			font-weight: bold;
			color: white;
			background-color: darken($blue, 10%);
			font-size: 100%;
			margin: 0;
			position: relative;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 5px;
				box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, .4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

	}
	&.catch_view .ranking_tab .catch {
		background-color: darken($blue, 0);
		&::after {
			display: none;
		}
	}
	&.kind_view .ranking_tab .kind {
		background-color: darken($blue, 0);
		&::after {
			display: none;
		}
	}
	.ranking_all_wrap {
		width: 100%;
		overflow: hidden;
		.ranking_all_wrap_inner {
			display: flex;
			justify-content: start;
			width: 200%;
			transition: .3s;
		}
	}
	&.kind_view {
		.ranking_all_wrap_inner {
			transform: translateX(-50%)
		}
	}
	.ranking_list_view {
		.fa-trophy {
			display: none;
		}
		width: 50%;
		.add-trophy {
			.fa-trophy {
				display: inline-block;
			}
		}
		.count, .capture-value {
			display: inline-block;
			font-size: 140%;
			text-shadow: 0px 0px 1px #444A6B, 0px 0px 2px rgba(0, 0, 0, .8);
			span {
				font-size: 60%;
				margin: 0 .5em;
				font-weight: bold;
			}
		}
		.count {
			margin-right: 1em;
		}
		li {
			background-color: darken($blue, 10%);
		}
		.r1 {
			font-size: 160%;
			background-color: darken($blue, 0);
			.fa-trophy {
				font-size: 180%;
				color: #FFE02F;
				animation: grow 1s infinite;
			}
		}
		.r2 {
			font-size: 150%;
			background-color: darken($blue, 3%);
			.fa-trophy {
				font-size: 140%;
				color: #BBCACE;
				animation: grow 1s infinite;
			}
		}
		.r3 {
			font-size: 120%;
			background-color: darken($blue, 7%);
			.fa-trophy {
				font-size: 120%;
				color: #C27400;
				animation: grow 1s infinite;
			}
		}
	}
}
