header {
  top: 0;
  position: static; }

h2 {
  width: 100%;
  font-size: 2em;
  margin: auto;
  padding: 1em 0;
  line-height: 2em;
  text-align: center;
  background: #0081d1;
  color: #fff; }

main {
  width: 100%;
  margin: 0 auto; }
  main h3 {
    font-size: 35px; }
  main:after {
    content: "";
    display: block;
    clear: both;
    width: 100%; }
  main #news .banner, main #event .banner {
    width: 47%;
    float: left;
    background: #E7EDF7;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    display: block;
    -webkit-box-shadow: 0px 1px 15px black;
    box-shadow: 0px 1px 15px black;
    -webkit-transition: .3s;
    transition: .3s; }
    main #news .banner img, main #event .banner img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0; }
    main #news .banner:nth-child(even), main #event .banner:nth-child(even) {
      margin: 0 1% 20px 2%; }
    main #news .banner:nth-child(odd), main #event .banner:nth-child(odd) {
      margin: 0 2% 20px 1%; }
    main #news .banner:hover, main #event .banner:hover {
      -webkit-box-shadow: 0px 0px 0px transparent;
      box-shadow: 0px 0px 0px transparent; }
  main #news:after, main #event:after {
    content: "";
    display: block;
    clear: both;
    width: 100%; }
  main #other {
    padding-bottom: 50px; }
    main #other:after {
      content: "";
      display: block;
      clear: both;
      width: 100%; }
    main #other .banner {
      float: left;
      width: 23%;
      margin: 1%;
      display: block;
      border-radius: 10px;
      -webkit-box-shadow: 0px 1px 15px black;
      box-shadow: 0px 1px 15px black;
      -webkit-transition: .3s;
      transition: .3s; }
      main #other .banner img {
        width: 100%;
        border-radius: 10px; }
      main #other .banner:hover {
        -webkit-box-shadow: 0px 0px 0px transparent;
        box-shadow: 0px 0px 0px transparent; }

#article {
  width: 100%;
  background: #0081d1; }
  #article .inner {
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px; }
  #article #article_img {
    width: 100%;
    height: auto;
    background: #0081d1; }
    #article #article_img img {
      width: 100%;
      height: auto;
      margin: auto; }
  #article #meta {
    font-size: 100%;
    width: 100%;
    display: block;
    margin: auto;
    padding: 1em 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #article #meta #title {
      float: left; }
    #article #meta #day {
      float: right; }

#back_list a {
  color: white; }

.center {
  text-align: center; }

@media screen and (max-width: 700px) {
  h2 {
    width: 100%;
    font-size: 100%; }
  main {
    width: 100%; }
    main #news .banner, main #event .banner {
      width: 100%;
      float: none;
      margin: auto; }
      main #news .banner p, main #event .banner p {
        padding: 0 10px 10px 10px; }
    main #other .banner {
      width: 47%; } }

#article h2 {
  position: absolute;
  padding: 0; }
#article #meta {
  padding: auto 0; }
  #article #meta #day, #article #meta #title {
    float: none;
    display: inline-block;
    margin: 0; }
  #article #meta #day {
    font-size: 10px; }
