<<<<<<< HEAD
header {
  top: 0;
  position: static; }

h2 {
  width: 960px;
  font-size: 2em;
  margin: auto;
  padding: 1em 0;
  line-height: 2em;
  text-align: center;
  background: #0081d1;
  color: #fff; }

main {
  width: 960px;
  margin: 0 auto; }
  main h3 {
    font-size: 35px; }
  main:after {
    content: "";
    display: block;
    clear: both;
    width: 100%; }
  main #news .banner, main #event .banner {
    width: 47%;
    float: left;
    background: #E7EDF7;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    display: block; }
    main #news .banner img, main #event .banner img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0; }
    main #news .banner:nth-child(even), main #event .banner:nth-child(even) {
      margin: 0 1% 20px 2%; }
    main #news .banner:nth-child(odd), main #event .banner:nth-child(odd) {
      margin: 0 2% 20px 1%; }
  main #news:after, main #event:after {
    content: "";
    display: block;
    clear: both;
    width: 100%; }
  main #other {
    padding-bottom: 50px; }
    main #other:after {
      content: "";
      display: block;
      clear: both;
      width: 100%; }
    main #other .banner {
      float: left;
      width: 23%;
      margin: 1%;
      display: block;
      border-radius: 10px; }
      main #other .banner img {
        width: 100%;
        border-radius: 10px; }

#article {
  width: 100%;
  max-width: 800px;
  background: #0081d1; }
  #article .inner {
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px; }
  #article #article_img {
    width: 100%;
    height: auto;
    background: #E7EDF7; }
    #article #article_img img {
      width: 100%; }
  #article #meta {
    font-size: 100%;
    width: 100%;
    display: block;
    margin: auto;
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    #article #meta #title {
      float: left;
      color: white; }
    #article #meta #day {
      float: right;
      color: white; }

@media screen and (max-width: 700px) {
  h2 {
    width: 100%; }
  main {
    width: 100%; }
    main #news .banner, main #event .banner, main #other .banner {
      width: 100%;
      float: none; }
      main #news .banner p, main #event .banner p, main #other .banner p {
        padding: 0 10px 10px 10px; } }
=======
header{top:0;position:static}h2{width:960px;font-size:2em;margin:auto;padding:1em 0;line-height:2em;text-align:center;background:#0081d1;color:#fff}main{width:960px;margin:0 auto}main h3{font-size:35px}main:after{content:"";display:block;clear:both;width:100%}main #event .banner,main #news .banner{width:47%;float:left;background:#E7EDF7;border-radius:10px;text-decoration:none;color:#000;display:block}main #event .banner img,main #news .banner img{display:block;width:100%;height:auto;border-radius:10px 10px 0 0}main #event .banner:nth-child(even),main #news .banner:nth-child(even){margin:0 1% 20px 2%}main #event .banner:nth-child(odd),main #news .banner:nth-child(odd){margin:0 2% 20px 1%}main #event:after,main #news:after{content:"";display:block;clear:both;width:100%}main #other{padding-bottom:50px}main #other:after{content:"";display:block;clear:both;width:100%}main #other .banner{float:left;width:23%;margin:1%;display:block;border-radius:10px;box-shadow:0 1px 15px #000;transition:.3s}main #other .banner img{width:100%;border-radius:10px}main #other .banner:hover{box-shadow:0 0 0 transparent}#article{width:100%;max-width:800px;background:#0081d1}#article .inner{width:100%;max-width:800px;padding-bottom:50px}#article #article_img{width:100%;height:auto;background:#E7EDF7}#article #article_img img{width:100%}#article #meta{font-size:100%;width:100%;display:block;margin:auto;padding:1em;box-sizing:border-box}#article #meta #title{float:left;color:#fff}#article #meta #day{float:right;color:#fff}@media screen and (max-width:700px){h2,main{width:100%}main #event .banner,main #news .banner{width:100%;float:none}main #event .banner p,main #news .banner p{padding:0 10px 10px}main #other .banner{width:48%}}
>>>>>>> 2744d5870d685cbb9ede8af0f39416f24dac580e
